RewriteEngine On

# Forçar HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://anapaulaapvieirapsi.com.br/$1 [R=301,L]

# Remover index.html
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^index\.html$ https://anapaulaapvieirapsi.com.br/ [R=301,L]

Redirect 301 /sobre-ana-paula.html https://anapaulaapvieirapsi.com.br/quem-sou.html
Redirect 301 /como-funciona.html https://anapaulaapvieirapsi.com.br/sobre-o-atendimento.html
Redirect 301 /como-funciona-terapia.html https://anapaulaapvieirapsi.com.br/sobre-o-atendimento.html
Redirect 301 /terapia-online.html https://anapaulaapvieirapsi.com.br/servicos.html
Redirect 301 /obrigado.html https://anapaulaapvieirapsi.com.br/
Redirect 301 /artigo-psicoterapia-infantil.html https://anapaulaapvieirapsi.com.br/psicoterapia-infantil-como-ajuda.html